/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BgaNinetyNine implementation : © Gregory Isabelli <gisabelli@boardgamearena.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
  *
 * BgaNinetyNine stylesheet
 *
 */

/*

    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you defined in your
    HTML template (bganinetynine_bganinetynine.tpl), and to HTML elements you create dynamically
    (in bganinetynine.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        This is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. This is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easyly.
        
        
     Note: on the production platform, this file will be compressed and comments will be remove.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css);

/** Table layout **/

#playertables {
    position: relative;
    width: 40%;
    height: 340px;
    display: inline-block;
}

.playertablename {
    font-weight: bold;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
}

/*.playertable_N {
    left: 50%;
    top: 0px;
    margin-left: -90px; /* half of 180 
}*/
.playertable_S {
    left: 50%;
    bottom: 0px;
    margin-left: -90px;
}
.playertable_W {
    left: 0px;
    top: 50%;
    margin-top: -120px;
}
.playertable_E {
    left: 100%;
    top: 50%;
    margin-top: -120px;
    margin-left: -180px;
}
.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
}

#declarerevealtable {
    position: absolute;
    width: 55%;
    height: 340px;
    display: inline-block;
    margin-left: 5%;
}

#declaretable {
    height: 115px;
    font-size: 14px;
    font-weight: bold;
}

#revealtable {
    height: 115px;
    font-size: 14px;
    font-weight: bold;
}

/*** cards on table ***/

.cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg'); 
}

.suit_club {
    background-position-y: -200%;
}

.suit_diamond {
    background-position-y: -300%;
}

.suit_spade {
    background-position-y: 0%;
}

.suit_heart {
    background-position-y: -100%;
}

.rank_2 {
    background-position-x: 0%;
}

.rank_3 {
    background-position-x: -100%;
}

.rank_4 {
    background-position-x: -200%;
}

.rank_5 {
    background-position-x: -300%;
}

.rank_6 {
    background-position-x: -400%;
}

.rank_7 {
    background-position-x: -500%;
}

.rank_8 {
    background-position-x: -600%;
}

.rank_9 {
    background-position-x: -700%;
}

.rank_10 {
    background-position-x: -800%;
}

.rank_11 {
    background-position-x: -900%;
}

.rank_12 {
    background-position-x: -1000%;
}

.rank_13 {
    background-position-x: -1100%;
}

.rank_14 {
    background-position-x: -1200%;
}

/*** hand layout ***/

#myhand {
    position: relative;
    height: 101px;
    display: inline-block;
    width: 60%;
}

#mybid {
    position: relative;
    height: 101px;
    display: inline-block;
    width: 20%;
    margin-left: 19%
}