/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * NinetyNine implementation : © Eric Kelly <boardgamearena@useric.com> & Alex Greenberg
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
  *
 * NinetyNine stylesheet
 *
 */

/*

    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you defined in your
    HTML template (ninetynine_ninetynine.tpl), and to HTML elements you create dynamically
    (in ninetynine.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        This is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. This is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easyly.


     Note: on the production platform, this file will be compressed and comments will be remove.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css);

/** General Styles **/

#middleRow {
    display: flex;
}

.bgann_container {
    height: auto;
    display: flex;
}

.bgann_section {
    flex-direction: row;
    width: auto;
    display: block;
}

.bgann_red {
    color: red;
}

.bgann_invisible {
    visibility: hidden;
}

.bgann_hidden {
    display: none;
}

#declaring_revealing_player_container {
    margin-left: 420px;
}

/** Player Score Area **/

.bgann_round_score {
    padding-left: 46px;
}

.bgann_round_score_icon:before {
    background-color: blue;
    border-radius: 50px;
}

.bgann_badge_ribbon {
    display: inline-block;
    position: relative;
    background: #f9a11a;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    top: -3px;
}
.bgann_badge_ribbon:before,
.bgann_badge_ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 5px solid #f9a11a;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    top: 9px;
    left: 0px;
    transform: rotate(-140deg);
}
.bgann_badge_ribbon:after {
    left: auto;
    right: 0px;
    transform: rotate(140deg);
}

/** Table layout **/

#playertables {
    position: relative;
    height: 340px;
    display: inline-block;
    min-width: 390px;
}

.bgann_playertablename {
    font-weight: bold;
}

.bgann_playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
}

.bgann_playertable_S {
    left: 50%;
    bottom: 0px;
    margin-left: -90px;
}

.bgann_playertable_W {
    left: 0px;
    top: 50%;
    margin-top: -155px;
}

.bgann_playertable_E {
    left: 100%;
    top: 50%;
    margin-top: -155px;
    margin-left: -180px;
}

.bgann_playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
}

#trumpContainer {
    left: 100%;
    bottom: 0px;
    margin-left: -75px;
    position: absolute;
    width: 120px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#my_bid_container{
    position: absolute;
    right: 0%;
    bottom: 25.4%;
}

.bgann_dealerindicator {
    color: black;
}

.bgann_tricks {
    color: black;
}

.bgann_playertable > .bgann_tricks {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.bgann_firstplayer {
    border: 2px black dashed;
    width: 176px;
    height: 126px;
}

/* Declare / Reveal styles */

#declaretable {
    font-size: 14px;
    font-weight: bold;
}

.bgann_declare {
}

.bgann_reveal {
    height: 130px;
}

#revealtable {
    font-size: 14px;
    font-weight: bold;
    min-width: 230px;
}

/*** cards on table ***/

.bgann_cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg');
}

.bgann_suit_spade {
    background-position-y: -200%;
}

.bgann_suit_heart {
    background-position-y: -300%;
}

.bgann_suit_club {
    background-position-y: 0%;
}

.bgann_suit_diamond {
    background-position-y: -100%;
}

.bgann_rank_2 {
    background-position-x: 0%;
}

.bgann_rank_3 {
    background-position-x: -100%;
}

.bgann_rank_4 {
    background-position-x: -200%;
}

.bgann_rank_5 {
    background-position-x: -300%;
}

.bgann_rank_6 {
    background-position-x: -400%;
}

.bgann_rank_7 {
    background-position-x: -500%;
}

.bgann_rank_8 {
    background-position-x: -600%;
}

.bgann_rank_9 {
    background-position-x: -700%;
}

.bgann_rank_10 {
    background-position-x: -800%;
}

.bgann_rank_11 {
    background-position-x: -900%;
}

.bgann_rank_12 {
    background-position-x: -1000%;
}

.bgann_rank_13 {
    background-position-x: -1100%;
}

.bgann_rank_14 {
    background-position-x: -1200%;
}

.bgann_trump_red {
    color: red;
    font-size: 40px;
}

.bgann_trump_black {
    color: black;
    font-size: 40px;
}

.bgann_trump_none {
    color: black;
    font-size: 16px;
}

/*** hand layout ***/

#myhand {
    position: relative;
    display: inline-block;
    width: 100%;
}

/** Add hover effect to cards in hand or bid **/
.bgann_cardhover > .stockitem:hover {
    border: 1px red solid;
}

.bgann_preselect {
    border: 1px black solid;
}

#mybid {
    position: relative;
    display: inline-block;
    width: 100%;
}

.bgann_bid_container {
    min-width: 240px;
    height: 130px;
}

#bids {
    width: 100%;
    margin-left: 100px;
    display: flex;
}

